{{#> admin}}
  {{#*inline "content"}}
    <div class="card">
      <div class="card-header">
        Адмін панель - Головна сторінка
      </div>
      <div class="card-body">
        Ласкаво просимо до панелі адміністратора. Використовуйте бічну панель для навігації між різними опціями.
      </div>
    </div>
  {{/inline}}
{{/admin}}
