{{#> app}}
  {{#*inline "content"}}
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          
          <h2 class="text-center mb-4">SoftMarket: Свіжі продукти. Легко та швидко.</h2>
          
          <p class="lead">Ми знаємо, який шалений у вас ритм життя. Черги в магазинах, важкі пакети та витрачений час – це те, про що ми пропонуємо вам забути.</p>
          <p>SoftMarket – це ваш розумний продуктовий магазин.</p>
          
          <h3 class="mt-5 mb-4">Наша філософія проста:</h3>
          
          <ul class="list-unstyled">
            <li class="mb-3">
              <h5>Тільки якість.</h5>
              <p>Ми одержимі свіжістю. Наші фахівці ретельно відбирають кожен овоч, фрукт та шматок м'яса. Якщо ми не готові дати це власним дітям, воно не потрапить до вашого замовлення.</p>
            </li>
            <li class="mb-3">
              <h5>Максимум зручності.</h5>
              <p>Наш сайт та додаток створені для людей. Інтуїтивний інтерфейс, швидке оформлення замовлення та своєчасна доставка – ми цінуємо ваш час.</p>
            </li>
            <li class="mb-3">
              <h5>Турбота про вас.</h5>
              <p>Наша служба підтримки завжди готова допомогти, а кур'єри – доставити все в найкращому вигляді.</p>
            </li>
          </ul>
          
          <p class="lead text-center mt-5">
            <strong>SoftMarket – це не просто доставка продуктів. Це ваш особистий помічник, який дбає про те, щоб у вас на столі завжди було смачно.</strong>
          </p>
          
        </div>
      </div>
    </div>
  {{/inline}}
{{/app}}