{{#> app}}
  {{#*inline "content"}}
    <div class="row categories-list">
      {{#each viewData.categories}}
      <div class="category-item col-md-6 col-lg-4 mb-3 mb-sm-4">
        <div class="card">
           <a href="/categories/{{getId}}">
            <img src="/uploads/{{getImage}}" class="card-img-top img-card">
            <div class="title-container w-100">
              <h4 class="title text-center text-white">{{getName}}</h4>
            </div>
           </a>
        </div>
      </div>
      {{/each}}
    </div>
  {{/inline}}
{{/app}}