{{#> app}}
  {{#*inline "content"}}
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/IMG_8486.JPG" class="img-fluid rounded">
      </div>
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/IMG_8488.JPG" class="img-fluid rounded">
      </div>
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/IMG_8490.JPG" class="img-fluid rounded">
      </div>
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/meat.JPG" class="img-fluid rounded">
      </div>
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/fish.JPG" class="img-fluid rounded">
      </div>
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/cereals.JPG" class="img-fluid rounded">
      </div>
    </div>
  {{/inline}}
{{/app}}