{{#> app}}
  {{#*inline "content"}}
    <div class="row categories-list">
      {{#each viewData.categories}}
      <div class="category-item col-md-6 col-lg-4 mb-3 mb-sm-4">
        <div class="card">
          <img src="/uploads/{{getImage}}" class="card-img-top img-card">
          <h2 class="category-title text-center text-white w-100">
            {{getName}}
          </h2>
        </div>
      </div>
      {{/each}}
    </div>
  {{/inline}}
{{/app}}