.copyright {
  background-color: #1a252f;
}

.content {
  min-height: 100vh;
}

.fixed {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
}

.content-grey {
  background-color: #f8f9fc;
}

hr {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.img-profile {
  height: 2rem;
  width: 2rem;
}

.profile-font {
  color: #858796 !important;
  font-size: 80%;
  font-weight: 400;
}

.card-header {
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  padding: 1rem;
}

.card-header h4 {
  margin-bottom: 0;
}

.form-label {
  margin-bottom: 4px;
}

form label+p, form label+a {
  line-height: 38px;
  margin-bottom: 0;
}