.bg-secondary {
  background-color: #2c3e50 !important;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary {
  background-color: #1abc9c !important;
}

.btn-primary {
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-outline-primary {
  color: #1abc9c !important;
  border-color: #1abc9c !important;
}

.btn-outline-primary:hover {
  background-color: transparent !important;
  color: #1abc9c !important;
}

.btn-outline-primary:focus {
  box-shadow: none !important;
}

.dropdown-menu-dark {
  /* background-color: #4E6E8D; */
  background-color: #1a252f;
}
.dropdown-menu-dark .dropdown-item:active {
  background-color: rgb(255, 255, 255, .15);
}

.auth-btn {
  min-width: 165px;
  height: 46px
}

.navbar-brand .part1 {
  font-size: 32px;
  line-height: 0;
  color: #1abc9c;
  font-weight: bold;
}

.navbar-brand .part2 {
  font-size: 16px;
  font-weight: bold;
  margin-left: -5px;
}

.icon-link {
  position: relative;
}

.dropdown-menu {
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .dropdown-menu {
    margin-bottom: 0;
  }

  .icon-link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.icon-link .icon {
  font-size: 24px;
}

nav .dropdown-menu .icon {
  font-size: 22px;
}
nav .dropdown-menu .dropdown-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

nav .dropdown-divider {
  margin: 0;
}

body {
  /* min-height: 75rem; */
  padding-top: 88px;
}

.img-card {
  height: 18vw;
  object-fit: cover;
}

/* Product categories list */
.categories-list img {
  height: 15vw;
  min-height: 200px;
  max-height: 300px;
}

.categories-list .title-container {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  background: rgba(0, 0, 0, .47);
}

.categories-list .title {
  padding: 16px 8px;
  margin-bottom: 0;
  font-weight: 400;
}

.categories-list .category-item {
  position: relative;
}

.category-badges a {
  display: inline-block;
  text-decoration: none;
}

.category-badge {
  font-size: 0.9em;
  font-weight: normal;
  border: 1px solid rgba(0,0,0,.125);
  padding: 14px 18px;
  color: #909090;
}

.category-badge.selected {
  border: 1px solid #1abc9c;
  color: #1abc9c;
}

.product-card .card-body {
  padding-top: 0.5rem;
}

.product-card__img {
  height: 14vw;
  object-fit: contain;
  min-height: 280px;
}

.product-card__title {
  height: 44px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 22px;
  color: #111111;
}

.product-card__title a {
  text-decoration: none;
  color: inherit;
}

.product-card__title a:hover {
  color: initial;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-btn {
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  border-radius: 24px;
  line-height: 1;
}

.add-to-cart-btn .bi-check2 {
  font-size: 24px;
}

.product-price {
  display: flex;
  align-items: baseline;
  gap: 4px;
  flex-wrap: nowrap;
}

.product-price__value {
  font-weight: bold;
  font-size: 22px;
}

.product-price__currency {
  font-size: 13px;
  color: #909090;
}

.product-info .card-body {
  padding: 2rem;
}

.product-info .card-title {
  margin-bottom: 2rem;
}

.product-info .card-text {
  margin-bottom: 1rem;
}

.product-info .product-info__buy {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.product-info .product-price__value {
  font-size: 28px;
}

.product-info .add-to-cart-btn {
  min-width: 200px;
  height: 46px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info .add-to-cart-btn .bi-cart {
  font-size: 20px;
  margin-right: 10px;
}

.product-info .add-to-cart-btn .bi-check2 {
  font-size: 24px;
  margin-right: 10px;
}

.product-info .quantity-input {
  height: 46px;
}

.breadcrumb-item {
  color: grey;
  font-size: 13px;
}

.breadcrumb-item a {
  color: inherit;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #1abc9c;
}

.breadcrumb-item:not(.active) a:hover {
  color: #1abc9c;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #1abc9c;
  padding-right: 1rem;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 1rem;
}

/* Cart icon with products counter */
.cart-container {
  display: inline-block;
}

.cart-count {
  background-color: #1abc9c;
  font-weight: 400;
  padding: 4px 7px;
}

.hidden {
  display: none;
}

.cart .card-body {
  padding: 1.5rem;
}

.cart-item a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}

.cart .product-img {
  height: 90px;
  width: 100%;
  object-fit: contain;
}

.cart .delete-btn {
  border-radius: 50%;
  font-size: 18px;
}

.cart .delete-btn:focus {
  box-shadow: none;
}

.cart .clean-cart-btn {
  text-decoration: none;
}

.cart .clean-cart-btn:hover {
  background-color: transparent;
  color: #dc3545;
}

.cart .clean-cart-btn:focus {
  box-shadow: none;
}

.cart .total-price-label {
  font-size: 18px;
}

.cart .purchase-btn {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 17px;
  border-radius: 24px;
  line-height: 1.8;
}

.cart .purchase-btn:focus {
  box-shadow: none;
}