.bg-secondary {
  background-color: #2c3e50 !important;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary {
  background-color: #1abc9c !important;
}

nav {
  font-weight: 700;
}

.img-card {
  height: 18vw;
  object-fit: cover;
}

.categories-list {
  img {
    min-height: 140px;
    max-height: 300px;
  }

  .category-item {
    position: relative;
  }

  .category-title {
    position: absolute;
    bottom: 10px;
  }
}

.category-badges a {
  display: inline-block;
  text-decoration: none;
}

.category-badge {
  font-size: 0.9em;
  font-weight: normal;
  border: 1px solid rgba(0,0,0,.125);
  padding: 14px 18px;
  color: #909090
}

.category-badge.selected {
  border: 1px solid #1abc9c;
  color: #1abc9c;
}