.bg-secondary {
  background-color: #2c3e50 !important;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary {
  background-color: #1abc9c !important;
}

nav {
  font-weight: 700;
}

.img-card {
  height: 18vw;
  object-fit: cover;
}

.categories-list {
  img {
    min-height: 140px;
    max-height: 300px;
  }

  .category-item {
    position: relative;
  }

  .category-title {
    position: absolute;
    bottom: 10px;
  }
}
